<div class="container">
    <h1>My personal home page</h1>
    <p>you can read more about me </p>
    <%= link_to 'View post' , posts_path , class:'btn btn-outline-primary btn-sm'%>
    <%= link_to 'Create post' , new_post_path , class:'btn btn-outline-warning btn-sm'%>
</div>
